#table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    width: 30px;
    height: 30px;
    margin: 2px;
    color: wheat;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 4px;
}   